body {
  font-family: "Tahoma", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 120vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3 {
  font-family: "Tahoma", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.9rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  max-width: 220px;
}

nav {
  margin-left: 25px;
  margin-top: 70px;
  display: none;
  position: fixed;
  top: 45px;
  background: #9b9b9b;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

main {
  background-image: linear-gradient(to bottom right, #030c15, #e8ad83);
}

header,
footer {
  background-color: #9b9b9b;
  color: #fff;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
}

header a {
  padding: 10px;
  align-self: flex-end;
  align-content: center;
  font-size: 1.45rem;
}

.cta {
  background-color: #6a5547;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cta-large {
  padding: 10px 40px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 50.2px;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}


footer {
  text-align: center;
  padding: 20px;
}

/* Home page */
.welcome {
    position: relative;
}

.welcome__content {
  background-color: #9b9b9b;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
}

.header-navigation {
  align-self: flex-end;
  align-content: center;
  font-size: 1.45rem;
}

/* Login page */
.login{  
  max-width: 350px;;  
  overflow: hidden;  
  margin: auto; 
  margin-top: 100px;
  padding: 40px 80px;  
  background: #9b9b9b;  
  border-radius: 15px;
  margin-bottom: 40px;   
}  
 
label {  
  color: #fff;  
  font-size: 1.2rem;  
}  

#Uname,
#Pass,
#Payment,
#Cnumb,
#Exdate,
#Scode,
#Email {  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  
}   
   
#log {  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;  
  
}  

span {  
  color: white;  
  font-size: 1.2rem;  
}  


/*Films Page*/
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
}

.product {
  margin: 20px;
  padding: 20px;
  background: #9b9b9b;
  border-radius: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart {
  position: fixed;
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
}

.product-button {
  font-family: 'Tahoma' , Geneva, Verdana, sans-serif;
  background: rgb(100, 0, 0);
  color: #fff;
  border: 0px;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  transition: all 1s;
  font-weight: bold;
}

.product-button:hover {
  cursor: pointer;
}

.cart {
  border: 1px solid green;
  max-width: 600px;
  min-width: 200px;
  padding: 20px;
  margin: auto;
  position: fixed;
  right: 50px;
  top: 150px;
  display: none;
  background: #fff;
  flex-direction: column;
}

.cart-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 20px;
}

.checkout-button  {
  background: rgb(100, 0, 0);
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

.total {
  margin-bottom: 15px;
}

/* Cart Page */

.cart-page {
  background-image: none;
  max-width: 400px;
  height: 130px;
  background: #9b9b9b;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

/* Settings Page */

.settings {
    background-color: #9b9b9b;
    min-width: 350px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 25px;
    
  }

  .settings-form {
      display: grid;
      gap: 15px
  }

@media (max-width: 522px) {
  .login {
    padding: 5px;
    padding-bottom: 20px;
  }

  .cta-large {
      margin-top: 15px;
  }

  .cart {
    right: 5px;
  }
}

@media (min-width: 562px) {

  
}

@media (min-width: 605px) {

  header {
    justify-content: start;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  header label {
    display: none;
  }

  .form-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 800px) {

  

  h3 {
    text-align: start;
  }

  .welcome {
    background-position-x: center;
    background-position-y: center;
  }

  .cta-large {
    padding: 10px 80px;
  }


  .welcome__content {
    padding: 20px 70px;
  }
}