@font-face {
  font-family: "Tahoma";
}

body {
  font-family: "Tahoma", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 120vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3 {
  font-family: "Tahoma", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #fff;
}

.product-list h2 {
  font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  max-width: 220px;
}

nav {
  margin-left: 25px;
  margin-top: 70px;
  display: none;
  position: fixed;
  top: 45px;
  background: #9b9b9b;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

main {
  background-image: linear-gradient(to bottom right, #030c15, #e8ad83);
}

header,
footer {
  background-color: #9b9b9b;
  color: #fff;
}

/* Links */
a {
  text-decoration: none;
  color: #fff;
}

header a {
  padding: 10px;
  align-self: flex-end;
  align-content: center;
  font-size: 1.45rem;
}

.cta {
  background-color: #6a5547;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cta-large {
  padding: 10px 40px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 50.2px;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}


.products {
  background-color: #9b9b9b;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products img {
  grid-column: -1/1;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 1.2em;
  margin: 5px;
  text-align: left;
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Home page */
.welcome {
    position: relative;
}

.welcome__content {
  background-color: #9b9b9b;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
}

.header-navigation {
  align-self: flex-end;
  align-content: center;
  font-size: 1.45rem;
}

/* Login page */
.login{  
  max-width: 350px;;  
  overflow: hidden;  
  margin: auto; 
  margin-top: 100px;
  padding: 40px 80px;  
  background: #9b9b9b;  
  border-radius: 15px;
  margin-bottom: 40px;   
}  
 
label {  
  color: #fff;  
  font-size: 1.2rem;  
}  

#Uname,
#Pass,
#Payment,
#Cnumb,
#Exdate,
#Scode,
#Email {  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  
}   
   
#log {  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;  
  
}  

span {  
  color: white;  
  font-size: 1.2rem;  
}  


/* Purchase Page*/


/*Films Page*/
.films {
  max-width: 1920px;
  margin: none;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.products img {
  width: 100%;
}

/* Settings Page */

.settings {
    background-color: #9b9b9b;
    min-width: 350px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 25px;
    
  }

  .settings-form {
      display: grid;
      gap: 15px
  }

@media (max-width: 522px) {
  .login {
    padding: 5px;
    padding-bottom: 20px;
  }

  .cta-large {
      margin-top: 15px;
  }
}

@media (min-width: 562px) {

  .product-list {
    grid-template-columns: 1fr 1fr;
    padding: 30px 100px 40px 100px;
  }

  
}

@media (min-width: 605px) {

  header {
    justify-content: start;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  header label {
    display: none;
  }

  .form-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 800px) {

  

  h3 {
    text-align: start;
  }


  .featured {
    grid-template-columns: repeat(4, 1fr);
  }

  .welcome {
    background-position-x: center;
    background-position-y: center;
  }

  .cta-large {
    padding: 10px 80px;
  }

  .product-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: auto;
    padding: 30px 50px 40px 50px;
  }

  .welcome__content {
    padding: 20px 70px;
  }

  .products {
      min-width: 181px;

}